
<body class="fix-header fix-sidebar card-no-border">

<%= render 'layouts/admin_header' %>
<div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
               <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor">Bảng điều khiển</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Trang chủ</a></li>
                            <li class="breadcrumb-item active">Bảng điều khiển</li>
                        </ol>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->

                

                <!-- ============================================================== -->
                <!-- Info box -->
                <!-- ============================================================== -->
                <div class="row">
                    <!-- Column -->
                    <div class="col-lg-4 col-md-6">
                        <a href="quan-ly-nhan-su.html">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex p-10 no-block">
                                        <div class="align-slef-center">
                                            <h2 class="m-b-0">35</h2>
                                            <h6 class="text-muted m-b-0">Nhân sự</h6>
                                        </div>
                                        <div class="align-self-center display-6 ml-auto"><i class="text-success fa fa-address-book"></i></div>
                                    </div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%; height:3px;"> <span class="sr-only">50% Complete</span></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- Column -->
                    <!-- Column -->
                    <div class="col-lg-4 col-md-6">
                        <a href="quan-ly-nguoi-dung.html">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex p-10 no-block">
                                        <div class="align-slef-center">
                                            <h2 class="m-b-0">72</h2>
                                            <h6 class="text-muted m-b-0">Người dùng</h6>
                                        </div>
                                        <div class="align-self-center display-6 ml-auto"><i class="text-info fa fa-user-circle"></i></div>
                                    </div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar bg-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:100%; height:3px;"> <span class="sr-only">50% Complete</span></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- Column -->
                    <!-- Column -->
                    <div class="col-lg-4 col-md-6">
                        <a href="quan-ly-lop-hoc.html">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex p-10 no-block">
                                        <div class="align-slef-center">
                                            <h2 class="m-b-0">12</h2>
                                            <h6 class="text-muted m-b-0">Lớp học</h6>
                                        </div>
                                        <div class="align-self-center display-6 ml-auto"><i class="text-primary icon-Inbox-Forward"></i></div>
                                    </div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:100%; height:3px;"> <span class="sr-only">50% Complete</span></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Info box -->
                <!-- ============================================================== -->

                <!-- Projects of the Month -->
                <!-- ============================================================== -->
                <div class="row">
                    <!-- Column -->
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="text-center">
                                    <h4 class="card-title">Thống kê nhân sự</h4>
                                </div>
                                <div class="table-responsive m-t-20 no-wrap">
                                    <table class="table vm no-th-brd pro-of-month">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Họ Tên</th>
                                                <th>Chức vụ</th>
                                                <th>Số điện thoại</th>
                                            </tr>
                                        </thead>
                                        <tbody style="max-height: 300px; overflow-y: scroll;">
                                            <tr>
                                                <td>1</td>
                                                <td>Nguyễn Như Thuỳ</td>
                                                <td>Hiệu Trưởng</td>
                                                <td>0973458756</td>
                                            </tr>
                                            <tr class="active">
                                                <td>2</td>
                                                <td>Nguyễn Thuỷ Tiên</td>
                                                <td>Hiệu Phó</td>
                                                <td>01254846152</td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>Chương Thuỳ Dung</td>
                                                <td>Giáo Viên</td>
                                                <td>0964785421</td>
                                            </tr>
                                            <trclass="active">
                                                <td>4</td>
                                                <td>Nguyễn Huy Hải</td>
                                                <td>Giám Thị</td>
                                                <td>01235478564</td>
                                            </tr>
                                            <tr>
                                                <td>5</td>
                                                <td>Nguyễn Quốc Long</td>
                                                <td>Bảo Vệ</td>
                                                <td>01658475954</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    <%= render 'layouts/admin_footer' %>
